/* app css stylesheet */

html, body {
    height: 100%;
}

.col {
    height: 100%;
    overflow: auto;
}

.col-sm-7 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.featured-photo-container {
    text-align: center;
    font: 0/0 a;	/* Remove the space between image and pseudo element */
    height: 100%;
}

.featured-photo-container:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.featured-photo-container img {
    display: inline-block;
    vertical-align: middle;
}

.thumbnail {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    width: intrinsic;
    width: -moz-max-content;
    border: 1px solid transparent;
}

.thumbnail:hover {
    border: 1px solid #ddd;
}

.selected-thumbnail {
    border: 1px solid #ddd;
}
